{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Remover colaborador</h1>
    <div class="box">
      <p>Tem certeza que deseja remover o colaborador <strong>{{ user_obj.username }}</strong>?</p>
      <form method="post">
        {% csrf_token %}
        <div class="buttons mt-4">
          <a class="button" href="{% url 'panel:collaborator_detail' user_obj.id %}">Cancelar</a>
          <button class="button is-danger" type="submit">Remover</button>
        </div>
      </form>
    </div>
  </div>
  </section>
{% endblock %}


