# VCS
.git
.gitignore
.gitattributes

# Editors
.vscode
.idea

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
ENV/

# Django build artifacts
staticfiles/
media/
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
*.log
